[submodule "ThirdParty/googletest"]
    path = ThirdParty/googletest
    url = https://github.com/google/googletest.git
[submodule "ThirdParty/Logging"]
    path = ThirdParty/Logging
    url = https://github.com/KhwarizmiAnalytix/Logging.git
